.u-modal {
    height: fit-content;
    width: 50vw;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: white;
    padding: 32px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    z-index: 101;
}